<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>722053888381-f824bf1ufdjgkhtfl26jknmelp7fafqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722053888381-f824bf1ufdjgkhtfl26jknmelp7fafqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCy290yRKbla4lq2tDCVrCFTVoeoAxDR44</string>
	<key>GCM_SENDER_ID</key>
	<string>722053888381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frtkaptan.OzuHall</string>
	<key>PROJECT_ID</key>
	<string>ozuhall-86dfe</string>
	<key>STORAGE_BUCKET</key>
	<string>ozuhall-86dfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:722053888381:ios:e40b37a7ae87a082</string>
	<key>DATABASE_URL</key>
	<string>https://ozuhall-86dfe.firebaseio.com</string>
</dict>
</plist>